################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LazyConditions/bin/Debug/netcoreapp2.2
/LazyConditions/.vs/LazyConditions
/LazyConditions/obj
/LazyConditions.Samples/obj/Debug/netcoreapp2.1
/LazyConditions.Samples/obj
/Samples/obj
